//
//  StripeIssuingExample
//  Copyright (c) 2024 Stripe Inc
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

/// IP address of local server
SAMPLE_PP_BACKEND_URL = http://42.42.42.42:4242

/// Should match the username configured on the above backend
SAMPLE_PP_BACKEND_USERNAME = cardholder

/// should match the password configured on the above backend
SAMPLE_PP_BACKEND_PASSWORD = secret

#include? "Server.private.xcconfig"
